<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>blue</string>
			<string>bule</string>
		</array>
		<array>
			<string>nqiua</string>
			<string>quina</string>
		</array>
		<array>
			<string>ovop</string>
			<string>povo</string>
		</array>
		<array>
			<string>sope</string>
			<string>peso</string>
		</array>
		<array>
			<string>nipo</string>
			<string>pino</string>
		</array>
		<array>
			<string>vua</string>
			<string>uva</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>360</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
</dict>
</plist>
