<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>liuoq</string>
			<string>quilo</string>
		</array>
		<array>
			<string>nqiua</string>
			<string>quina</string>
		</array>
		<array>
			<string>honba</string>
			<string>banho</string>
		</array>
		<array>
			<string>igrba</string>
			<string>briga</string>
		</array>
		<array>
			<string>losba</string>
			<string>bolsa</string>
		</array>
		<array>
			<string>jiebo</string>
			<string>beijo</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>360</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
</dict>
</plist>
