<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>otap</string>
			<string>pato</string>
		</array>
		<array>
			<string>ocab</string>
			<string>boca</string>
		</array>
		<array>
			<string>seud</string>
			<string>deus</string>
		</array>
		<array>
			<string>elvi</string>
			<string>live</string>
		</array>
		<array>
			<string>l  isten</string>
			<string>silent</string>
		</array>
		<array>
			<string>t  he eyes</string>
			<string>they see</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>600</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
